@model ShopeeFood_Web.Models.CustomerModel

<div class="user-profile-update">
    <div class="title-user">Tải ảnh đại diện</div>
    <div class="row">
        <div class="col-3">
            <div class="user-avatar-image">
                <img src="@Model.Avata" alt="" id="avatar_user" width="300">
            </div>
        </div>
        <div id="cusImage" class="col-9">
            <!-- Show Partial View -->
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <hr />
    <div class="user-profile-update">
        <div class="title-user">Thay đổi thông tin</div>
        <div class="row form-group align-items-center">
            <div class="col-3 txt-bold">Tên</div>
            <div class="col-8">
                <div class="input-group">
                    <input name="CustomerName" placeholder="Tên" type="text" class="form-control" value="@Model.CustomerName">
                </div>
            </div>
        </div>
        <div class="row form-group align-items-center">
            <div class="col-3 txt-bold">Giới tính</div>
            <div class="col-8">
                <div class="input-group">
                    <select id="Sex" name="Sex" class="custom-select">
                        <option value="1">Nam</option>
                        <option value="2">Nữ</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row form-group align-items-center">
            <div class="col-3 txt-bold">Email</div>
            <div class="col-8">
                <div id="update_email" class="input-group">
                    <button onclick="add_div(1)" id="up_email" style="border:0.5px solid #0288d1 " type="button" class="btn btn-none-bg">Cập nhật mail</button>
                </div>
            </div>
        </div>
        <div class="row form-group align-items-center">
            <div id="old_passowrd" class="col-3 txt-bold">Mật khẩu</div>
            <div class="col-8">
                <div id="change_password" class="input-group">
                    <span id="old_pass_1" style="margin-right: 100px;" class="show-pass">********</span>
                    <button onclick="add_div(2)" id="old_pass_2" type="button" class="change-pass">Đổi mật khẩu</button>
                </div>
            </div>
        </div>
        <div id="change_pw_"></div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-primary btn-block" type="submit">Lưu thay đổi</button>
            </div>
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    $('#cusImage').load('/Customer/CustomerImagePartial')
</script>

<!-- Get Selected Value -->
<script>
    $('#Sex').val(@ViewBag.Sex);
</script>

<script>
    function chooseFile(fileInput) {
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#avatar_user').attr('src', e.target.result);
            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>

