@model ShopeeFood_Web.Models.CustomerModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/css_management_profile_user_shopee.css" />

<div class="container" style="padding-top:75px">
    <!-- LEFT -->
    <div style="width:390px" class="now-navigation-profile">
        <div class="header-profile">
            <div class="row align-items-center">
                <div class="col-3">
                    <img class="avatar-circle" src="https://images.foody.vn/usr/g1825/18244862/avt/s200x200/beauty-upload-api-foody-avatar-2d03099d-e7ec-49cf-8e37-c2aa6c719c87-191126163011.jpg" alt="Đạt Phạm">
                </div>
                <div class="col txt-bold font15">Đạt Phạm</div>
            </div>
        </div>
        <div class="navigation-profile" style="text-decoration: none; color:black">
            <a id="account" onclick="ReloadPartial(0)" class="item-navigation active" title="Cập nhật tài khoản" href="~/Customer/Profile">
                <div class="row">
                    <div class="col-2">
                        <svg class="fas" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </div>
                    <div class="col">Cập nhật tài khoản</div>
                    <div class="col-2">
                        <i class="icon-arrow-thin right"></i>
                    </div>
                </div>
            </a>
            <a id="address" onclick="ReloadPartial(1)" class="item-navigation"  style="text-decoration: none; color:black" title="Cập nhật tài khoản" href="~/Customer/CustomerAddress">
                <div class="row">
                    <div class="col-2">
                        <svg class="fas" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
                        </svg>
                    </div>
                    <div class="col">Thông tin tài khoản</div>
                    <div class="col-2">
                        <i class="icon-arrow-thin right"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- RIGHT -->
    <div style="width:870px; float: right; margin: 35px 0 50px 0;" class="now-detail-profile">
        <div class="header-user-profile">Thông tin người dùng</div>
        <div id="partial_zone_customer" class="content-user-profile">
            <!--PartialView-->
        </div>
    </div>

</div>

<script>
    function ReloadPartial(option) {
        if (option == 0) {
            const button = document.getElementById('#account');
            button.addEventListener('click', (event) => {
                event.preventDefault()
                $.ajax({
                    url: "@Url.Action("CustomerAccountPartial", "Customer")",
                    type: "GET",
                    success: function (response) {
                        $('#partial_zone_customer').load('/Customer/CustomerAccountPartial')
                    }
                })
            });
        }
        else {
            const button = document.getElementById('#address');
            button.addEventListener('click', (event) => {
                event.preventDefault()
                $.ajax({
                    url: "@Url.Action("CustomerAddressPartial", "Customer")",
                    type: "GET",
                    success: function (response) {
                        $('#partial_zone_customer').load('/Customer/CustomerAddressPartial')
                    }
                })
            });
        }
    }
</script>

<script>
    $('#partial_zone_customer').load('/Customer/CustomerAccountPartial')
</script>

<script>
    // Create function add div into div
    function add_div(arae) {
        if (arae == 1) {
            // Add input
            var input_ = document.createElement('input');
            input_.className = 'form-control';
            input_.setAttribute('name', 'Email');
            input_.setAttribute('placeholder', 'Email');
            input_.id = 'update_email';
            // Remove input
            document.getElementById('up_email').remove();
            document.getElementById('update_email').appendChild(input_);
        }
        else {
            // Remove element & change text
            document.getElementById('old_passowrd').innerHTML = 'Mật khẩu mới'
            document.getElementById('old_pass_1').remove();
            document.getElementById('old_pass_2').remove();

            // Add elemet new_password
            var new_pw = document.createElement('input');
            new_pw.className = 'form-control';
            new_pw.setAttribute('name', 'Password');
            new_pw.setAttribute('type', 'password');
            new_pw.setAttribute('placeholder', 'Mật khẩu');

            document.getElementById('change_password').appendChild(new_pw);

            // Add div confirm password
            var _change_pw = document.createElement('div');
            _change_pw.className = 'row form-group align-items-center';

            var _change_pw_left = document.createElement('div');
            _change_pw_left.className = 'col-3 txt-bold';
            _change_pw_left.innerHTML = 'Xác nhận mật khẩu';

            var _change_pw_right = document.createElement('div');
            _change_pw_right.className = 'col-8';

            var _change_pw_input_group = document.createElement('div');
            _change_pw_input_group.className = 'input-group';

            var _change_pw_input_group_input = document.createElement('input');
            _change_pw_input_group_input.className = 'form-control';
            _change_pw_input_group_input.setAttribute('name', 'confirm_pw');
            _change_pw_input_group_input.setAttribute('type', 'password');
            _change_pw_input_group_input.setAttribute('placeholder', 'Xác nhận mật khẩu');

            _change_pw_input_group.appendChild(_change_pw_input_group_input);

            _change_pw_right.appendChild(_change_pw_input_group);

            _change_pw.appendChild(_change_pw_left);
            _change_pw.appendChild(_change_pw_right);

            document.getElementById('change_pw_').appendChild(_change_pw);
        }

    }
</script>

<script>
    function chooseFile(fileInput) {
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#avatar_user').attr('src', e.target.result);
                $('#choose_file').attr('value', e.target.result);
            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>

<script>
    var msg = "@((string)ViewBag.Status_account)";

    if (msg != null && msg != "") {
        swal({
            title: "Message",
            text: msg,
            icon: "success",
        });
    }
</script>
