@model IEnumerable<ShopeeFood_Web.Models.CityDetail>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/css_home_page.css" />

@foreach (var item in Model)
{
    @*<a class="nav-item" href="~/Shop/ShopCategory_Home?cityId=@item.CityId&bussinessId=@item.BusinesId"> @item.BusinessName </a>*@
    <a class="nav-item" href="~/Home/HomePageShopeeFood?bussinessId=@item.BusinesId">@item.BusinessName</a>
}

